<div class="border rounded-lg p-8 border-indigo-900">
  <h2 class="font-bold text-3xl">
    {{ rifa?.name }}
  </h2>
  <p class="text-xl">
    <sub>
      Publicador:
      <strong>
        {{ rifa?.user?.name }}
      </strong>
    </sub>
  </p>
  <p class="text-xl">
    <sub
      >Números disponibles:
      <span class="font-bold">
        {{ rifa?.availableNumbersQuantity }}
      </span></sub
    >
  </p>
  <p class="text-xl">
    <sub
      >Ubicación:
      <span class="font-bold">
        {{ rifa?.location }}
      </span></sub
    >
  </p>
  <div class="description mt-4">
    <p>
      {{ rifa?.description }}
    </p>
    <p class="price font-bold text-2xl mt-4">Precio: ${{ rifa?.price }}</p>
  </div>
  <div class="mt-4 buttons-wrapper flex flex-col md:flex-row gap-2">
    <button (click)="openModal()" class="primary-btn flex-1 !m-0 !block">
      Escoger número
    </button>
    <button
      class="bg-white border-indigo-900 border text-indigo-900 px-6 py-2 rounded flex-1"
    >
      Contactar con el vendedor
    </button>
  </div>
</div>
