<div class="border rounded-lg p-8 border-indigo-900">
  <h2 class="font-bold text-3xl">HJ 250 NK implecable</h2>
  <p class="text-xl">
    <sub> Publicador: <strong>La rapida</strong> </sub>
  </p>
  <p class="text-xl">
    <sub>Números disponibles: <span class="font-bold">100</span></sub>
  </p>
  <p class="text-xl">
    <sub>Ubicación: <span class="font-bold">Táchira</span></sub>
  </p>
  <div class="description mt-4">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum doloremque
      ad odit accusantium consequatur. Ex, voluptatum! Incidunt harum, autem
      fugiat debitis tempora quasi. Nam officiis voluptatem praesentium nesciunt
      nemo impedit.
    </p>
    <p class="price font-bold text-2xl mt-4">Precio: $100</p>
  </div>
  <div class="mt-4 md:mt-0 buttons-wrapper flex flex-col md:flex-row gap-2">
    <button
      (click)="openModal()"
      class="bg-indigo-900 text-white px-6 py-2 rounded md:mt-4 active:bg-indigo-600 transition-colors"
    >
      Escoger número
    </button>
    <button
      class="bg-white border-indigo-900 border text-indigo-900 px-6 py-2 rounded md:mt-4"
    >
      Contactar con el vendedor
    </button>
  </div>
</div>
