<app-header [hidden]="routerSv.hiddeHeaderAndFooter"></app-header>
<div [hidden]="!loaderSv.isLoading()" class="loader-content">
  <div class="progress-bar"></div>
</div>
<main class="outlet-wrapper bg-indigo-900">
  @if (loaded) {
    <div
      class="outlet-wrapper-container overflow-hidden"
      [ngClass]="{ 'rounded-corners': !routerSv.hiddeHeaderAndFooter }"
    >
      <router-outlet></router-outlet>
    </div>
  } @else {}
</main>
<app-footer [hidden]="routerSv.hiddeHeaderAndFooter"></app-footer>
