<div class="container p-4">
  <div
    id="card-product"
    [routerLink]="['/rifa', product._id]"
    class="w-full h-auto cursor-pointer shadow-md hover:shadow-lg transition-shadow rounded-lg overflow-hidden"
  >
    <img
      class="w-full aspect-square object-cover"
      [src]="apiURL + 'rifas/' + product.images[0]"
      alt="rifas"
      loading="lazy"
    />
    <div class="container p-4">
      <p
        id="name-product"
        class="text-slate-900 whitespace-nowrap font-extrabold text-base md:text-xl overflow-hidden text-ellipsis"
      >
        <strong>
          {{ product.name }}
        </strong>
      </p>
      <p class="text-sm md:text-base font-bold">
        ${{ product.price | number: "1.1-2" }}
      </p>
      <div class="flex items-start md:items-center gap-2">
        <ion-icon name="ticket-outline"></ion-icon>
        <p class="text-sm md:text-lg">
          Tickets restantes:
          <b>
            {{ product.availableNumbersQuantity }}
          </b>
        </p>
      </div>
    </div>
    <div class="container p-4">
      <span
        class="text-sm md:text-base flex w-fit items-center gap-2 py-1 font-bold px-4 rounded-full bg-slate-200 text-slate-600"
      >
        <ion-icon name="location-outline"></ion-icon>
        {{ product.location }}
      </span>
    </div>
  </div>
</div>
