<div class="w-full min-h-screen bg-white">
  <app-banner></app-banner>
  @defer (on viewport) {
  <app-promotores></app-promotores>
  } @placeholder {
  <p>
    <span> Loading... </span>
  </p>
  } @defer (on viewport) {
  <app-recently-section
    [title]="'Las mas populares'"
    [icon]="'trending-up-outline'"
  ></app-recently-section>
  } @placeholder {
  <p>
    <span>Loading...</span>
  </p>
  } @defer(on viewport){
  <app-recently-section
    [title]="'Rifas nuevas'"
    [icon]="'color-wand-outline'"
  ></app-recently-section>
  } @placeholder {
  <p>
    <span>Loading...</span>
  </p>
  } @defer(on viewport){
  <app-recently-section
    [title]="'Pocos numeros'"
    [icon]="'rocket-outline'"
  ></app-recently-section>
  }@placeholder {
  <p>
    <span>Loading...</span>
  </p>
  } @defer(on viewport){
  <app-banner></app-banner>
  }@placeholder {
  <p>
    <span>Loading...</span>
  </p>
  }
</div>
