<section class="wrapper-main bg-white pt-8">
  <div class="container m-auto px-4">
    <div class="grid grid-cols-12 max-w-5xl m-auto">
      <div class="col-span-4 flex flex-col">
        @for (button of buttons; track $index) {
          <a
            class="link-tag"
            [routerLink]="button.routeName"
            routerLinkActive="active-link"
          >
            <ion-icon [name]="button.icon"></ion-icon>
            {{ button.route }}
          </a>
        }

        <a class="link-tag">
          <ion-icon name="log-out-outline"></ion-icon>
          Salir
        </a>
      </div>
      <div class="col-span-1"></div>
      <div class="col-span-6">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
